@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');


.navMenu {
    background-color: white;
    color: black;
}

.navMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navMenu li {
    flex: 1;
    margin-right: auto;
    text-align: center;
}
.navMenu a{
  text-decoration: none;
  color: darkorchid;
  font-size: 30px;

}